:root {
 --White: hsl(0, 0%, 100%);
 --Gray: hsl(212, 45%, 89%);
 --Grayishblue: hsl(220, 15%, 55%);
 --Darkblue: hsl(218, 44%, 22%);

 --FuentePrincipal: 'Outfit', sans-serif;

}


html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    background-color: var(--Gray);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.fondo {
    height:48rem;
    width: 30em;
    background-color: white;
    border-radius: 5%;
    text-align: center;

    margin-top: 5rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.imagen__imagen {
    width: 92%;
    border-radius: 5%;
    /* margin-top: -8rem; */
    margin-bottom: 2rem;
}

.heading__imagen {
    font-size:2rem;
    font-family: var(--FuentePrincipal);
}

.parrafo__imagen {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Darkblue);
    font-size: 1.5rem;
}

.attribution {
margin-top: 3rem;
text-align: center;
}